<div [hidden]="!isFullScreen">
<div [hidden]="status!=='off'">
    <input #usernameField type="text" [(ngModel)]="gameInfo.username" placeholder="your name here"/>
  <div *ngIf="error">please insert your name</div>
</div>
<div [hidden]="status!=='completed'">
 hi {{gameInfo.username | titlecase}}! you counted {{isLower?'too fast by ':'too slow by '}}{{diffInMs | date:'ss:SSS'}}
</div>
<div [hidden]="status!=='on'">
  counting
</div>

</div>
<div  [hidden]="isFullScreen">
press "f" for fullscreen
  </div>